.layout {
	height: 100vh;
	.sider {
		height: 100%;
		display: flex;
		flex-direction: column;
		.logo {
			text-align: center;
			.logoImg {
				height: 64px;
			}
		}
		.menu {
			flex: 1;
			overflow: scroll;
		}
	}
}